# .dockerignore
/node_modules
/.env
/.git
/.github
/.gitignore
/.env.example
/.env.render
/.dockerignore
/README.md
/.postman
/postman
/tests
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/*
/.phpunit.result.cache
/.vscode
/.idea
/composer.lock
/package-lock.json
/vendor
# NE PAS EXCLURE start.sh !!!